
<div class="row">
    <div class="col">
        <button class="btn-primary" id="add">Add invoice</button>
    </div>
</div>
{% for invoice in invoices %}
<div class="row">
    <div class="col">
        #{{ loop.index }}
    </div>
    <div class="col">
        {{ invoice.number }}
    </div>
    <div class="col">
        {{ invoice.date }}
    </div>
    <div class="col">
        {{ invoice.total|number_format(2, '.', ',') }}
    </div>
    <div class="col">
        <button class="btn-primary" rel="{{ invoice.id }}" id="view">View</button>
        <button class="btn-danger" rel="{{ invoice.id }}" id="delete">Delete</button>
    </div>
</div>
{% endfor %}
